/* styles.css */
:root {
  /* CSS HEX */
--dust-grey: #dad2d8ff;
}
p {
  font-family: Gelasio;
}
h1, h2, h3 {
  font-family: playfair-display;
}
.education {
  border: 2px solid black; 
  background-color: var(--dust-grey);
}
.work {
  border: 2px solid black; 
  background-color:var(--dust-grey);
}
.leader {
  border: 2px solid black; 
  background-color:var(--dust-grey);
}
.volunteer {
  border: 2px solid black; 
  background-color:var(--dust-grey);
}
.awards {
  border: 2px solid black; 
  background-color:var(--dust-grey);
}
