/* styles.css */
:root {
  /* CSS HEX */
--dust-grey: #dad2d8ff;
}
p {
  font-family: Gelasio;
}
h1, h2, h3 {
  font-family: playfair-display;
}
h1 {
  font-size: 200px;
}
.education {
  border: 2px solid black; 
  background-color: var(--dust-grey);
  margin: 10px;
}
.work {
  justify-content: around;
  border: 2px solid black; 
  background-color:var(--dust-grey);
  margin: 10px;
}
.leader {
  justify-content: around;
  border: 2px solid black; 
  background-color:var(--dust-grey);
  margin: 10px;
}
.volunteer {
  justify-content: around;
  border: 2px solid black; 
  background-color:var(--dust-grey);
  margin: 10px;
}
.awards {
  justify-content: around;
  border: 2px solid black; 
  background-color:var(--dust-grey);
  margin: 10px;
}
